{% extends 'base.html' %}

{% block content %}
  <head>
    <title>LifeBeyondSugar - Login</title>
  </head>
  <body>
    <h1>Login</h1>
    {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% if message %}
      <p><strong>{{ message }}</strong></p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" required><br><br>
      <label for="password">Password:</label>
      <input type="password" name="password" required><br><br>
      <input type="submit" value="Login">
    </form>
  </body>
  
  {% if user.is_authenticated %}
    <h2> About and quiz pages</h3>
    <p>...</p>
    <a href="{% url 'sugar:about' %}">About</a>
    <a href="{% url 'sugar:quiz' %}">Quiz</a>
  {% endif %}
{% endblock %}
